#admin_pagelist {
  align-content: baseline;
  margin-top: 25px;
  width: 1000px;
  height: 30px;
}

#admin_pagelist nav {
  width: 600px;
}
#admin_pagelist ul li {
  list-style: none;
  float: left;
  line-height: 25px;
  text-align: center;
}

#admin_pagelist .link {
  padding-right: 10px;
  padding-top: 5px;
  width: 150px;
  text-decoration: none;
  display: block;
  border-bottom-style: solid;
  border-width: 1px;
  box-shadow: #e6e9e4;
  border-color: #e8eae6;
}

#admin_pagelist .link:hover {
  color: #ffa101;
  border-width: 2px;
  border-color: #fae6b1;
  border-bottom-color: #fae6b1;
}

#admin_pagelist .link.active {
  border-width: 2px;
  border-color: #fae6b1;
  border-bottom-color: #fae6b1;
}

#name p {
  font-size: 25px;
  font-weight: lighter;
  padding-left: 30px;
  margin-top: 15px;
}

#name .update {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  float: right;
  font-size: 5px;
  background-color: #ffa101;
  color: white;
  border-radius: 5px;
  border: none;
}

.Notice_table thead {
  background-color: #ffa101;
}

.delete_btn {
  cursor: pointer;
}
