.price {
  min-width: 1340px;
  text-align: center;
  margin-top: 30px;
  margin-left: 200px;
  > p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 60px;
    margin-right: 900px;
  }
}

.price_check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 170px;
  width: 700px;
}

.price1_button > button {
  width: 80px;
  height: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/1077/1077976.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.price2_button > button {
  width: 80px;
  height: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/3141/3141818.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 70px;
}

.price3_button > button {
  width: 80px;
  height: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/10716/10716530.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 60px;
}

.price4_button > button {
  width: 80px;
  height: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/10013/10013277.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 80px;
}

.price_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 170px;
  font-size: 20px;
  font-weight: bold;
  width: 700px;
}

/*모바일 설정*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .price {
    min-width: auto;
    text-align: center;
    margin-top: 30px;
    margin-left: 5%;
    width: 100%;
    > p {
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 60px;
      margin-right: 55%;
    }
  }

  .price_check {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 10%;
    width: 100%;
  }

  .price1_button {
    width: 25%;
    > button {
      width: 59%;
      height: 80px;
      background-image: url("https://cdn-icons-png.flaticon.com/128/1077/1077976.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 0px;
    }
  }

  .price2_button {
    width: 25%;
    > button {
      width: 60%;
      height: 80px;
      background-image: url("https://cdn-icons-png.flaticon.com/128/3141/3141818.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 40%;
    }
  }

  .price3_button {
    width: 25%;
    > button {
      width: 60%;
      height: 80px;
      background-image: url("https://cdn-icons-png.flaticon.com/128/10716/10716530.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 15%;
    }
  }

  .price4_button {
    width: 25%;
    > button {
      width: 60%;
      height: 85px;
      background-image: url("https://cdn-icons-png.flaticon.com/128/10013/10013277.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 40%;
    }
  }

  .price_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 2%;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    .price_list1 {
      margin-left: 5%;
    }
    .price_list2 {
      margin-left: 10%;
    }
    .price_list3 {
      margin-left: 7%;
    }
    .price_list4 {
      margin-left: 5%;
    }
  }
}
