#pagelist {
    align-content: baseline;
    margin-top: 25px;
    width: 500px;
    height: 30px;

}

#pagelist nav{
    width: 500px;

}
#pagelist ul li {
    list-style: none;
    float: left;
    line-height: 25px;
    text-align: center;
}

#pagelist .link {
    padding-right: 10px;
    padding-top: 5px;
    width: 100px;
    text-decoration: none;
    display: block;
    border-bottom-style :solid; 
    border-width: 1px;
    box-shadow: #e6e9e4;
    border-color: #e8eae6;
}

#pagelist .link:hover{
    color: #24855b;
    border-width: 2px;
    border-color: #79c859ec;
    border-bottom-color: #79c859ec;
}

#pagelist .link.active{
    border-width: 2px;
    border-color: #79c859ec;
    border-bottom-color: #79c859ec;
}

#name p{
    font-size: 25px;
    font-weight:lighter;
    padding-left: 30px;
    margin-top: 15px;
}