.review_write{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.review_title strong{
    font-size: 30px;
    color: #ffa101;
}

.review_write textarea{
    width: 800px;
    height: 300px;
}

.review_write p {
    margin-left: 770px;
}
.file_upload{
    margin-right: 550px;
}

.location_section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}

.location_section_btn{
    background-image: url('https://cdn-icons-png.flaticon.com/128/2838/2838912.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    margin-left: 680px;
}

.button_wrap{
    display: flex;
    flex-direction: row;
}
.button_wrap button {
    border: 1px solid gray;
    border-radius: 10px;
}

.close_btn{
    background-color: #31525B;
    color: white;
    width: 300px;
    margin-right: 100px;
}
hr{
    color: black;
}
.upload_btn{
    background-color: #ffa101;
    color: white;
    width: 300px;
}