.event_detail {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1340px;
  align-items: center;
  .img {
  }
  .main_title {
    margin-top: 35px;
    margin-right: 400px;
    font-size: 30px;
    font-weight: bold;
    .res_info {
      > p {
        margin-right: 50px;
      }
      > button {
        border: none;
        border-radius: 5px;
        color: gray;
        width: 150px;
        height: 22px;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBbNICVMbLZjsTW5i3uwA8Bhj8hAAUM2zr2w&usqp=CAU");
        background-repeat: no-repeat;
        background-color: rgb(241, 237, 237);
        background-size: 20px 20px;
        font-size: 20px;
        margin-right: 130px;
      }
      .event_title {
        font-size: 28px;
        margin-right: 150px;
      }
      .event_info {
        font-size: 15px;
        margin-left: 18px;
        > strong {
          margin-left: 20px;
        }
      }
    }
    .sale_wrap {
      text-align: center;
      margin-left: 550px;
      flex-direction: row;

      > p {
        font-size: 20px;
        text-align: center;
        margin-left: 470px;
        text-decoration: line-through;
        color: #cbcbcb;
      }
      .percent {
        font-size: 32px;
        margin-top: 10px;
        margin-left: 350px;
        > strong {
          color: #1fceb6;
          font-size: 32px;
        }
      }
    }
  }
  .event_main_content {
    > p {
      margin-top: 50px;
      font-size: 23px;
      margin-right: 400px;
    }
    .event_content_info {
      > p {
        font-size: 20px;
        margin-right: 620px;
        margin-top: 35px;
      }
      > strong {
        font-size: 20px;
        margin-right: 475px;
        margin-top: 50px;
      }
      .content {
        width: 400px;
        margin-top: 12px;
        color: rgb(179, 175, 175);
        font-size: 14px;
        margin-right: 300px;
        margin-bottom: 50px;

        > li {
          text-align: left;
        }
      }
      .notice_chk {
        text-align: center;
        margin-right: 490px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .middle_line {
    text-align: center;
    width: 700px;
    border: 1px dashed gray;
    margin-top: 20px;
  }
}

/*모바일 설정*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .event_detail {
    min-width: auto;
    .restaurant_img {
      > img {
        max-width: 100%;
        height: auto;
      }
    }
    .main_title {
      margin-top: 5%;
      margin-right: 10%;
      font-size: 24px;
      width: 100%;
      .res_info {
        > p {
          margin-left: 15%;
        }
        > button {
          width: 15%;
          height: 22px;
          font-size: 12px;
          margin-left: 10%;
          margin-right: auto;
          background-size: 18px 18px;
        }
        .event_title {
          font-size: 24px;
          margin-left: 8%;
          margin-right: auto;
          margin-top: 6%;
        }
        .event_info {
          font-size: 15px;
          > span {
          }
        }
      }
      .sale_wrap {
        margin-left: auto;
        margin-top: 5%;
        > p {
          font-size: 14px;
          margin-left: 10%;
        }
        .percent {
          font-size: 24px;
          margin-top: 5%;
          margin-left: 5%;
          > strong {
            margin-right: 1%;
            font-size: 24px;
          }
        }
      }
    }
    .event_main_content {
      > p {
        margin-top: 5%;
        font-size: 20px;
        margin-right: auto;
      }
      .event_content_info {
        > p {
          font-size: 18px;
          margin-right: auto;
          margin-top: 5%;
        }
        > strong {
          font-size: 18px;
          margin-right: auto;
          margin-top: 5%;
        }
        .content {
          width: 90%;
          margin-top: 5%;
          color: rgb(179, 175, 175);
          font-size: 14px;
          margin-right: 5%;
          margin-bottom: 5%;

          > li {
            text-align: center;
          }
        }
        .notice_chk {
          margin-right: 10%;
          margin-top: 5%;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .middle_line {
      width: 90%;
      margin-top: 5%;
    }
  }
}
