.event_detail {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 1340px;
    align-items: center;
  }

  .list-items{
    text-align: center;
  }

  .event_detail_title {
    width: 40%;
    margin-top: 35px;
    margin-right: 400px;
    font-size: 30px;
    font-weight: bold;
  }
  .middle_title{
    width: 45%;
    margin-top: 15px;
    font-size: 23px;
    margin-right: 320px;
  }

  .event_title{
    text-align: left;
    width: 45%;
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    
  }
  .subtitle {
    
    text-align: left;
    width: 45%;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }

  .info_btn{
    text-align: left;
    width: 45%;
    margin-top: 35px;
  }

  .info_btn button {
    border: none;
    border-radius: 5px;
    color: gray;
    width: 150px;
    height: 22px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBbNICVMbLZjsTW5i3uwA8Bhj8hAAUM2zr2w&usqp=CAU');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 20px;
  }

  .event_content{
    text-align: left;
    width: 45%;
    margin-top: 15px;
  }

  .origin_price {
    text-align: right;
    margin-left: 600px;
    text-decoration: line-through;
    color: gray;
  }

  .sale_wrap{
    text-align: right;
    margin-left: 550px;
    flex-direction: row;
  }
  .percent{
    font-size: 23px;
    margin-top: 10px;
  }

  .percent strong {
    color: #1FCEB6;
    font-size: 23px;
  }

  .content {
    width: 400px;
    margin-top: 12px;
    color: rgb(179, 175, 175);
    font-size: 14px;
    margin-right: 200px;
  }

  .content li {
    text-align: left;
  }

  .middle_line{
    width: 700px;
    border: 1px dashed gray;
    margin-left: 350px;
    margin-top: 20px;
  }

  @media (max-width: 768px) {

  }
  
  @media (max-width: 992px) {
  
  }