.notice_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1340px;
    height: 100%;
    
    .start_hr , .end_hr{
        margin-top: 30px;
        margin-right: 500px;
        width: 1000px;
        height: 10px;
        background-color: black;
    }
    .notice_title{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 250px;
        width: 50%;
        .return_list{
            padding: 0px;
            display: flex;
            border: 1px solid;
            flex-direction: row;
            margin-left: 200px;

            >a {
                background-color: #B3DEE5;
                > button {
                    width: 35px;
                    height: 35px;
                    background-color: transparent;
                }
                .return_logo{
                    background-image: url('https://cdn-icons-png.flaticon.com/128/2099/2099238.png');
                    width: 35px;
                    height: 35px;
                    background-color: #B3DEE5;
                    background-size: cover;
                }
            }

            .return_text{
                font-size: 30px;
                margin-left: 30px;
                color: white;          
            }
        }

        > strong{
            font-size: 40px;
        }
    }
    .notice_sub_title{
        border-bottom: 1px solid;
        width: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 30px;
        .th_type{
            font-size: 30px;
            font-weight: bold;
            margin-right: 80px;
            margin-bottom: 30px;
        }
        .th_subject{
            font-size: 30px;
            margin-bottom: 30px;
            margin-right: 30px;
        }
        .th_who{
            font-size: 20px;
            color: gray;
            margin-bottom: 30px;
        }
        .th_date{
            font-size: 20px;
            color: gray;
            margin-right: 100px;
            margin-bottom: 30px;
        }
        .th_count{
            font-size: 20px;
            color: gray;
            margin-bottom: 30px;
        }
    }
    .notice_content{
        width: 50%;
        display: flex;
        margin-top: 50px;

        flex-direction: column;
        justify-content: center;
        .error_content{
            margin-top: 200px;
            color: red;
        }
        .bye{
            margin-top: 100px;
        }
    }
    .list_nav{
        margin-left: 0px;
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;


        .before_board{
            display: flex;
            flex-direction: row;
            margin-right: 910px;
            >em {
                font-size: 23px;
                margin-left: 10px;
            }
            .before_text{
                font-size: 25px;
                margin-left: 50px;
            }
            .before_logo{
                background-image: url('https://cdn-icons-png.flaticon.com/128/271/271239.png');
                width: 30px;
                height: 30px;
                margin-left: 30px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .next_board{
            margin-right: 1000px;
            margin-top: 30px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;

            >em {
                font-size: 23px;
            }
            .next_text{
                font-size: 25px;
                margin-left: 50px;
            }

            .next_logo{
                background-image: url('https://cdn-icons-png.flaticon.com/128/32/32195.png');
                width: 30px;
                height: 30px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: 30px;
            }
        }
    }
}
