.notice_update {
  min-width: auto;
  > header {
    width: 100%;
    > strong {
      width: 10%;
      margin-left: 100px;
      font-size: 50px;
      border-bottom: 10px solid;
    }

    .notice_update_title {
      margin-top: 100px;
      width: 100%;
      height: 200px;

      .update_title {
        width: 80%;
        border-bottom: 10px solid;
        margin-left: 110px;

        > span {
          font-size: 50px;
        }
      }

      .update_tit {
        margin-left: 170px;
        margin-top: 30px;
        width: 100%;
        height: 100%;

        > strong {
          font-size: 30px;
        }

        > input {
          font-size: 30px;
          margin-left: 100px;
          width: 500px;
          height: 50px;
          border: none;
        }
      }
    }
  }

  .update_body_text_area {
    > textarea {
      width: 1500px;
      height: 500px;
      margin-left: 120px;
      font-size: 30px;
    }
  }

  .update_btn_wraps {
    width: 800px;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-left: 25%;
    justify-content: center;

    .update_btn {
      width: 300px;
      height: 100px;

      > button {
        width: 300px;
        height: 100px;
        background-color: #b3dee5;
        font-weight: bold;
      }
    }

    .update_cancle_btn {
      margin-left: 50px;
      width: 300px;
      height: 100px;

      > button {
        width: 300px;
        height: 100px;
        background-color: #31525b;
        color: white;
        font-weight: bold;
      }
    }
  }
}

/*모바일환경 설정*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  .App {
    padding: 0px;
  }
  .notice_update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: 100%;
    > header {
      height: 20%;
      text-align: center;
      width: 100%;
      > strong {
        width: 10%;
        font-size: 2rem;
        margin-left: auto;
        border-bottom: 10px solid;
      }

      .notice_update_title {
        margin-top: 5%;
        margin-left: 18%;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;

        .update_title {
          margin-left: 0%;
          margin-right: 0%;
          width: 30%;
          border: none;
          margin-top: 1%;

          > span {
            font-size: 1.7rem;
          }
        }

        .update_tit {
          display: flex;
          flex-direction: row;
          margin-left: 7%;
          margin-top: 0px;
          width: 70%;
          height: 50px;

          > strong {
            width: 20%;
            font-size: 1.5rem;
            margin-top: 2%;
          }

          > input {
            font-size: 30px;
            margin-left: 5%;
            width: 50%;
            height: 50px;
            border: 0px 0px 1px 0px solid black;
          }
        }
      }
    }

    .update_body_text_area {
      height: 80%;
      > textarea {
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: 90%;
        margin-top: 5%;
        font-size: 30px;
      }
    }

    .update_btn_wraps {
      display: flex;
      flex-direction: column;
      margin-left: 30%;
      margin-right: auto;
      margin-top: 5%;
      width: 50%;

      .update_btn {
        width: 120%;
        height: 60px;

        > button {
          width: 70%;
          height: 60px;
          background-color: #b3dee5;
          font-weight: bold;
        }
      }

      .update_cancle_btn {
        margin-left: 0px;
        width: 120%;
        height: 60px;

        > button {
          width: 70%;
          height: 60px;
          background-color: #31525b;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
