
/* header start */
.App-header {
  background-color: rgb(240, 238, 193);
  position:fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-bottom:  rgb(186, 183, 183);
}

.App-header-logo {
  display: flex;
  width: 96%;
  max-width: 600px;
  height: 100%;
  margin-top: 10px;
  margin-left: 30px;

}
.App-header-search {
  margin-top: 10px;
  max-width: 600px;
}
.search{
  padding:5px 10px;
  margin-top: 10px;
}
.App-header-profile-icons{
  margin-top: 10px;
  
  max-width: 600px;
}

/* header end */

/*home start*/
.home {
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/*home end*/

/*join start*/
.join {
  position:fixed;
  width:100%;
}
/*join end*/

/*email_check start*/
  .emailcheck{
    width:100%;
  }
/*email_check end*/

/*location start*/
.location{
  width:100%;
}
/*location end*/

/*nicknamecheck start*/
.nicknamecheck{
  width: 100%;
}
/*nicknamecheck end*/

/*location_search start*/
.location_search {
  width: 100%;
}
/*location_search end*/

/*login start*/
.login {
  position:fixed;
}
/*login end*/

/*valide formbox start*/
.formbox{
  position: relative;
    margin-bottom: 20px;
    .message {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 24px;
      letter-spacing: -1px;
      position: absolute;
      bottom: -10px;
      left: 0;
       &.success {
        color: #8f8c8b;
      }
       &.error {
        color: #ff2727;
      }
    }
}
/*valide formbox end*/

/*pw_reset start*/
@media all and (min-width: 1024px) {
  .input-forms {
    padding: 70px;
    input{
      width: 400px;
    }
  }

}
@media all and (max-width: 1024px) {
  .input-forms {
    padding: 60px;
    input{
      width: 330px;
    }
  }
}

@media all and (max-width: 768px) {
  .input-forms {
    padding: 50px;
    input{
      width: 300px;
    }
  }
}
.signup-wrapper {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-forms {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .input-label {
      font-size: 1.2rem;
      font-weight: bold;
      color: #282c34;
    }

    .input-forms-item {
      padding: 7px 0;
      .error-message {
        font-size: 1rem;
        color: blue;
        font-weight: bold;
      }
    }
  }
}
/*pw_reset end*/